.btn[id*="info"] {background-color: transparent; border-color: transparent;display: inline-block; vertical-align: middle;}
.btn:hover[id*="info"] {background-color: gray; border-color: gray;display: inline-block; vertical-align: middle;}
.tooltip > .tooltip-inner {background-color: gray;}
.tooltip.right  > .tooltip-arrow {border-right-color: gray;}
.tooltip-inner {text-align: left;}

h5, label {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
  font-family: arial;
  vertical-align: bottom;
  padding: 0 0 2px 0;
  font-size: medium;
}

icon {
  margin-bottom: 0;
}