body {background-color: black}

body, label, input, button, select { 
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
}

.shiny-plot-output > a{border-color: black}

.tabbable > .nav > li[class=active] > a {background-color: green; color: black; border: green;}

.shiny-file-input-progress {display: none}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

.myPlot {
  background-color:black;
  border-color: black;
}

#controls {
  /* Appearance */
  background-color: white;
  padding: 0 0 0 0;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}

#tabsPanel {
  padding: 0 0 0 0;
}

.btn[id*="info"] {background-color: transparent; border-color: transparent;}
.btn:hover[id*="info"] {background-color: gray; border-color: gray;}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}