body {background-color: black}

body, label, input, button, select { 
  font-family: arial;
  font-weight: 250;
}

.shiny-plot-output > a{border-color: black;}

.tabbable > .nav > li[class=active] > a {background-color: green; color: black; border: green;}

.shiny-file-input-progress {display: none}

.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

.myPlot {
  background-color:black;
  border-color: black;
}

#tabsPanel {
  padding: 0 0 0 0;
}

.btn[id*="info"] {background-color: transparent; border-color: transparent;display: inline; vertical-align: baseline;}
.btn:hover[id*="info"] {background-color: gray; border-color: gray;display: inline; vertical-align: baseline;}
.tooltip > .tooltip-inner {background-color: gray;}
.tooltip.right  > .tooltip-arrow {border-right-color: gray;}
.tooltip-inner {text-align: left;}

h5, label {
  margin-top: 0;
  margin-bottom: 0;
  font-family: arial;
  vertical-align: middle;
  padding: 0 0 1px 0;
  font-size: 16px;
}

h1 {
  text-align: center;
  font-family: arial;
  padding: 0 0 0 0;
}

h2, h3, h4, h6 {
    font-family: arial;
}




#controls {
  /* Appearance */
  background-color: white;
  padding: 0 0 0 0;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.65;
  zoom: 0.9;
  transition: opacity 500ms 1s;
}
#controls:hover {
  /* Fade in while hovering */
  opacity: 0.95;
  transition-delay: 0;
}